.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
}

.card p {
  margin: 5px 0;
}

.photo {
  height: 200px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
