/* Basic Navbar Styles */
* {
  padding: 0%;
  margin: 0%;
}
nav {
  background-color: #333;
  height: 60px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #4caf50;
  color: white;
}

nav ul li a.active {
  background-color: #4caf50;
  color: white;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav ul li a {
    padding: 5px;
    font-size: 14px;
  }
}
